<!DOCTYPE HTML>
<div>
    <form id="target" action="/search" method="post">
        <input type="text" value="Hello there" />
        <input type="text" value="Hello there" />
        <input type="submit" value="Go" />
    </form>
</div>

<script>
</script>
